<h1>New Transaction Confirmation</h1>

<p>
  Greets <%= @recipient %>. New transaction has been made with the following details: <br>
  <strong>Amount:</strong> Ksh. <%= @transaction.amount %> <br>
  <strong>Sender: </strong> <%= @sender %>
</p>
