
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    font-size: 13px;
    font-size: 1.3rem;
  }

  h1 {
    font-size: 24px;
    font-size: 2.4rem;
  }
  h3{
    font-size: 17px;
    font-size: 1.7rem;
  }
  i {
    width: 26px;
  }
  
  ul {
    list-style-type: none;
  }
  
  a:hover, a:active, a:link, a:visited {
    text-decoration: none;
  }

  .control-label {
    display: none;
  }