<div class="container">
    <div class="col-sm-12 transaction-form">
        <h1 class="text-center">Start here</h1>
        <h3 class="text-center">Perfom transaction</h3>
        <form class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="amount">Amount (in kenyan shillings)</label>
                <div class="input-group">
                    <div class="input-group-addon">Ksh.</div>
                    <input type="text" class="form-control" id="amount" placeholder="Amount">
                    <div class="input-group-addon">.00</div>
                </div>
            </div>

            <div class="form-group">
                <label class="sr-only" for="type">Transaction Type</label>
                <select id="type" class="selectpicker"> 
                  <option>Send</option>
                  <option>Deposit</option>
                  <option>Withdraw</option>
                </select>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" id="recipient" placeholder="Recipient's number">
                </div>
            </div>

            <button type="submit" class="btn btn-transaction">Complete transaction</button>
        </form>
    </div>
</div>